In [43]:
from collections import Counter
import re
import pandas as pd
import json

In [44]:
df = pd.read_csv('data/tokopedia_scrape_all.csv')
df.head()

,product_id,product_name,url,description,price,sold_count,rating,total_stock,category
0,2618801377,Piano Elektronik Payment Mr. D 2,https://www.tokopedia.com/miracle-piano-maestr...,pengiriman seluruh Indonesia Jakarta Merupak...,20300000,1,NaN,9,Speaker
1,1418259858,mesin cuci lg 15kg f2515stgw(GARANSI RESMI),https://www.tokopedia.com/memory-elektronik-ja...,Tanyakan ketersediaan stock terlebih dahulu\nF...,11100000,1,5.0,5,Mesin Cuci
2,12881922184,Smart TV XIAOMI L32M8-A2ID 32 A Pro series,https://www.tokopedia.com/blessingcombali/smar...,WAJIB Membaca CATATAN TOKO\nWAJIB Video Unboxi...,1729800,215,5.0,38,Monitor Tabung
3,11108003873,AQUA Elektronik AQR-D225(MDS) 1 pintu 180L,https://www.tokopedia.com/rossielektroni/aqua-...,AQUA Elektronik AQR-D225 1Door 180 L\n\nAQR-D2...,1933000,11,5.0,11,Kulkas
4,100413508806,GARANSI 1 TAHUN! BARDI ZigBee Smart Gateway,https://www.tokopedia.com/technobitzzz/garansi...,BARDI Zigbee Gateway adalah jembatan antara pe...,469000,2,NaN,398,Remote IO

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1143 entries, 0 to 1142
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_id    1143 non-null   int64
 1   product_name  1143 non-null   object
 2   url           1143 non-null   object
 3   description   1118 non-null   object
 4   price         1143 non-null   int64
 5   sold_count    1143 non-null   int64
 6   rating        949 non-null    float64
 7   total_stock   1143 non-null   int64
 8   category      1143 non-null   object
dtypes: float64(1), int64(4), object(4)
memory usage: 80.5+ KB

## Most Common Words Data Scrape 1 (Product's Name, Description, adn Other Specification)

In [46]:
# --- load stopwords dari file JSON ---
with open("data/stopwords-id.json", "r", encoding="utf-8") as f:
    stopwords_id = set(json.load(f))  # pastikan bentuknya list/array di json

# --- kolom yang akan dianalisis ---
cols_to_check = ["product_id", "product_name", "description", 
                 "price", "sold_count", "rating", "total_stock", "category"]

def get_most_common_words(series, n=10):
    text = " ".join(series.dropna().astype(str))
    words = re.findall(r'\w+', text.lower())
    
    filtered = []
    for w in words:
        # skip angka murni
        if w.isdigit():
            continue
        # skip stopwords
        if w in stopwords_id:
            continue
        filtered.append(w)
    
    return Counter(filtered).most_common(n)

# --- loop tiap kolom ---
for col in cols_to_check:
    print(f"\n=== Most Common Words in '{col}' ===")
    common_words = get_most_common_words(df[col], n=10)
    for word, count in common_words:
        print(f"{word}: {count}")

=== Most Common Words in 'product_id' ===

=== Most Common Words in 'product_name' ===
wanita: 201
pria: 174
tas: 128
sekolah: 123
anak: 121
bayi: 115
celana: 112
paket: 100
premium: 90
olahraga: 89

=== Most Common Words in 'description' ===
cm: 1344
produk: 1331
x: 1006
bahan: 925
ukuran: 830
warna: 613
barang: 612
kulit: 560
size: 553
cocok: 513

=== Most Common Words in 'price' ===

=== Most Common Words in 'sold_count' ===

=== Most Common Words in 'rating' ===

=== Most Common Words in 'total_stock' ===

=== Most Common Words in 'category' ===
pria: 122
wanita: 116
android: 72
os: 72
celana: 60
tas: 54
bayi: 47
ransel: 45
alat: 43
kaos: 39

In [47]:
# --- kumpulkan semua kata ---
all_words = []
for col in cols_to_check:
    common_words = get_most_common_words(df[col], n=None)  # ambil semua kata
    all_words.extend(common_words)

# --- gabungkan count dari semua kolom ---
total_counter = Counter()
for word, count in all_words:
    total_counter[word] += count

# --- ambil top 300 ---
top_words = total_counter.most_common(500)

# --- jadikan DataFrame ---
df_top_words1 = pd.DataFrame(top_words, columns=['word', 'count'])
df_top_words1.head

<bound method NDFrame.head of              word  count
0              cm   1347
1          produk   1336
2               x   1009
3           bahan    963
4          ukuran    842
..            ...    ...
495       standar     52
496  membersihkan     52
497            wi     52
498            si     52
499     frekuensi     52

[500 rows x 2 columns]>

## Most Common Words Data Scrape 2 (Product's Reviews)

In [48]:
import os
os.listdir()

['data',
 'dictionary.ipynb',
 'README.md',
 'requirements.txt',
 'scraper_tokopedia.ipynb',
 'scraper_tokped.py',
 'userdata_shopee']

In [49]:
# --- load stopwords dari file json ---
with open("data/stopwords-id.json", "r", encoding="utf-8") as f:
    stopwords_id = set(json.load(f))

# --- load reviews ---
with open("data/reviews.json", "r", encoding="utf-8") as f:
    data = json.load(f)

texts = [d["message"] for d in data if "message" in d]

all_words = []
for text in texts:
    words = re.findall(r"\w+", text.lower())  # pecah kata
    for w in words:
        # skip angka murni
        if w.isdigit():
            continue
        # skip stopwords
        if w in stopwords_id:
            continue
        # skip token terlalu pendek (opsional)
        if len(w) == 1:
            continue
        all_words.append(w)

# hitung frekuensi
counter = Counter(all_words)
top_100 = counter.most_common(500)

# tampilkan
for word, freq in top_100:
    print(word, ":", freq)

barang : 108
sesuai : 105
nya : 101
bagus : 93
harga : 90
suara : 53
bass : 51
kualitas : 46
mantap : 44
cepat : 43
suaranya : 41
yg : 34
ya : 34
pengiriman : 33
lumayan : 31
produk : 31
ok : 27
banget : 25
terima : 24
barangnya : 22
gak : 22
seller : 21
berfungsi : 20
ga : 19
headset : 18
pesanan : 18
kasih : 18
packing : 18
aja : 17
deskripsi : 17
beli : 16
sebelah : 16
oke : 16
jernih : 15
bassnya : 15
respon : 15
thanks : 15
tp : 15
sih : 14
gan : 14
good : 14
murah : 13
kurir : 12
harganya : 12
dah : 12
amp : 11
udah : 11
pengirimannya : 11
puas : 11
dikirim : 11
makasih : 10
sukses : 10
terimakasih : 10
rapi : 10
aman : 10
awet : 10
pas : 10
diterima : 9
warna : 9
semoga : 9
nyampe : 8
nggak : 8
produknya : 8
proses : 8
merah : 8
hitam : 8
kabel : 8
pesan : 8
rapih : 8
segitu : 8
bgt : 8
top : 8
desainnya : 7
modern : 7
cempreng : 7
nyaman : 7
dipakai : 7
terjangkau : 7
gk : 7
toko : 7
kirim : 7
pokoknya : 7
tdk : 7
tokopedia : 7
mendem : 7
dipake : 7
cepet : 7
liger : 7
flash : 7
sale : 7
enak : 7
kiri : 7
memuaskan : 6
yaa : 6
parah : 6
maaf : 6
kalo : 6
order : 6
sampe : 6
kadang : 6
mati : 6
sdh : 6
keren : 6
recommended : 6
gambar : 6
nyala : 6
stereo : 6
klo : 6
so : 6
deh : 6
yah : 6
mantab : 6
original : 5
kabelnya : 5
pake : 5
but : 5
ngebass : 5
kali : 5
nih : 5
sayang : 5
kwalitas : 5
pelayanannya : 5
sy : 5
recomended : 5
putih : 5
blm : 5
bintang : 5
nendang : 5
segini : 5
mono : 5
headsetnya : 5
quality : 5
dgn : 5
utk : 5
thank : 4
belanja : 4
packingnya : 4
jelek : 4
untung : 4
dicoba : 4
kresek : 4
ramah : 4
toped : 4
smua : 4
official : 4
kak : 4
earphonenya : 4
lambat : 4
doang : 4
overall : 4
standar : 4
kotak : 4
it : 4
earphone : 4
kecewa : 4
responsif : 4
bas : 4
kuat : 3
musik : 3
bahan : 3
cacat : 3
material : 3
premium : 3
tpi : 3
kualitasnya : 3
jg : 3
kanan : 3
hasilnya : 3
kemasan : 3
koneksi : 3
android : 3
pembelian : 3
beda : 3
amanah : 3
packaging : 3
pesen : 3
paket : 3
model : 3
reseller : 3
mayan : 3
an : 3
store : 3
sound : 3
pesenan : 3
recommend : 3
suka : 3
biru : 3
mantul : 3
low : 3
normal : 3
thx : 3
8d : 3
handsfree : 3
benar2 : 3
cocok : 3
berkualitas : 3
kaya : 3
ekstra : 3
response : 3
rusak : 3
75k : 3
penjual : 3
data : 3
krn : 3
dpt : 3
buruk : 3
kacau : 3
tgl : 3
jack : 3
rumah : 3
build : 3
product : 3
mantep : 3
ny : 3
selamat : 3
lg : 3
tes : 3
don : 3
kardus : 3
langsung : 3
alhamdulillah : 3
worth : 3
mengecewakan : 2
desain : 2
garansi : 2
resmi : 2
gurih : 2
pelan : 2
min : 2
kayaknya : 2
udh : 2
karet : 2
kayak : 2
gini : 2
komen : 2
orang : 2
beruntung : 2
plastik : 2
payah : 2
bentuk : 2
kemasannya : 2
brg : 2
nyesel : 2
noise : 2
lancar : 2
bersih : 2
coba : 2
unit : 2
kotaknya : 2
video : 2
next : 2
time : 2
cenderung : 2
lepas : 2
tuh : 2
si : 2
ilang : 2
under : 2
diskon : 2
handfree : 2
hp : 2
pecah : 2
on : 2
murmer : 2
sopan : 2
mudah2an : 2
sebulan : 2
dr : 2
biar : 2
berbicara : 2
jempol : 2
baguss : 2
tulisan : 2
gitu : 2
no : 2
lacak : 2
nyoba : 2
gpp : 2
aga : 2
head : 2
set : 2
tetep : 2
belinya : 2
dihasilkan : 2
tanggal : 2
voice : 2
kirain : 2
didengar : 2
fitur : 2
100k : 2
uang : 2
hr : 2
komplain : 2
asli : 2
box : 2
packagingnya : 2
seharga : 2
ksh : 2
2x : 2
pakai : 2
seh : 2
untungnya : 2
tujuan : 2
safety : 2
fast : 2
jdi : 2
earbud : 2
jd : 2
job : 2
berat : 2
nice : 2
kecepatan : 2
gapapa : 2
tokonya : 2
ngga : 2
beneran : 2
gamurahan : 2
maju : 2
guud : 2
blanja : 2
aslinya : 2
idup : 2
kenceng : 2
judul : 2
buy : 2
very : 2
bad : 2
bos : 2
bikin : 2
tombol : 2
dng : 2
volume : 2
wajarlah : 2
moga : 2
penyok : 2
qc : 2
connect : 2
basnya : 2
trimakasih : 2
dijual : 2
pelayanan : 2
19rb : 2
you : 2
kedengeran : 2
layak : 2
aamiin : 2
kotor : 2
mic : 2
tutup : 2
dengerin : 2
okelah : 2
metal : 2
ancur : 2
pengemasan : 2
dusnya : 2
bangettt : 2
jakarta : 2
fungsi : 2
bertahan : 2
smoga : 2
17rb : 2
bt : 2
mantull : 1
kuenceng : 1
serasa : 1
mendengarkan : 1
salon : 1
aktif : 1
yuk : 1
kawan : 1
cepetan : 1
jamin : 1
abal : 1
ngambang : 1
cept : 1
fisik : 1
tergores : 1
terkesan : 1
beefungsi : 1
baikbarangnya : 1
maklum : 1
20k : 1
gimana : 1
dsni : 1
officiall : 1
ngirim : 1
dicek : 1
dulu2 : 1
lohh : 1
gapernah : 1
kurangnya : 1
diperhatiin : 1
dahh : 1
earplug : 1
lihat : 1
bungkus : 1
ringsek : 1
pembungkus : 1
dalamnya : 1
kurirnya : 1
alasan : 1
ppkm : 1
sesuailah : 1
ftonya : 1
aftonya : 1
soalanya : 1
pack : 1
peng : 1
bermanfaat : 1
bluetooth : 1
baterai : 1
tahan : 1
cancellation : 1
value : 1
for : 1
money : 1
apple : 1
penjualnya : 1
sepadan : 1
terimaka : 1
kerusakan : 1
abang : 1
sma : 1
segi : 1
sempet : 1
photo : 1
unboxing : 1
toleran : 1
keberapa : 1
barakallah : 1
bosss : 1
gilaaaakkk : 1
everything : 1
is : 1
case : 1
michrophonenya : 1
solusinya : 1
dilem : 1
ditancepin : 1
dirapihin : 1
nilai : 1
stars : 1
rugi : 1
kyaknya : 1
emang : 1
sebanding : 1
ama : 1
diskonnya : 1
be : 1
carefull : 1
universal : 1
type : 1
dekerepsi : 1
l10 : 1
jb : 1
tq : 1
point : 1
sgini : 1
berharap : 1
diiklan : 1
dibawah : 1
10k : 1
pikir2 : 1
lgi : 1
ditoko : 1
menjamin : 1
estimasi : 1
unbox : 1
eror : 1
ekspektasi : 1
soundnya : 1
seeeepppp : 1
kereenn : 1
josss : 1
diskripsi : 1
menunggu : 1
alesan : 1
resi : 1
mohon : 1
perbaiki : 1
yap : 1
kemas : 1
bosku : 1
brang : 1
ekspetasi : 1
berlebih : 1
walpaun : 1
frekuensi : 1
dominan : 1
mid : 1
high : 1
kurnag : 1
dikit : 1
karna : 1
nge : 1
pengemasannya : 1
juni : 1
diproses : 1
ngk : 1
denger : 1

In [50]:
# top_100 is a list of tuples (word, freq)
df_top_words2 = pd.DataFrame(top_100, columns=['word', 'count'])
df_top_words2.head(40)

          word  count
0       barang    108
1       sesuai    105
2          nya    101
3        bagus     93
4        harga     90
5        suara     53
6         bass     51
7     kualitas     46
8       mantap     44
9        cepat     43
10    suaranya     41
11          yg     34
12          ya     34
13  pengiriman     33
14     lumayan     31
15      produk     31
16          ok     27
17      banget     25
18      terima     24
19   barangnya     22
20         gak     22
21      seller     21
22   berfungsi     20
23          ga     19
24     headset     18
25     pesanan     18
26       kasih     18
27     packing     18
28         aja     17
29   deskripsi     17
30        beli     16
31     sebelah     16
32         oke     16
33      jernih     15
34     bassnya     15
35      respon     15
36      thanks     15
37          tp     15
38         sih     14
39         gan     14

## Most Common Words from both

In [51]:
# Gabungkan kedua DataFrame top words
df_top_words_combined = pd.concat([df_top_words1, df_top_words2])
df_top_words_combined = df_top_words_combined.groupby('word', as_index=False)['count'].sum()
df_top_words_combined = df_top_words_combined.sort_values(by='count', ascending=False).reset_index(drop=True)

df_top_words_combined.head(30)

          word  count
0       produk   1367
1           cm   1347
2            x   1009
3        bahan    966
4       ukuran    842
5       barang    722
6        warna    657
7        kulit    589
8         anak    571
9         size    569
10      celana    554
11       cocok    533
12       paket    513
13  pengiriman    477
14      wanita    447
15        pria    445
16     lingkar    430
17      sesuai    423
18       mudah    420
19         tas    408
20     premium    403
21     garansi    394
22        bayi    390
23         air    365
24       video    364
25         isi    342
26    memiliki    331
27        baju    325
28    membantu    324
29      nyaman    320

## Detect Acronyms

In [58]:
import re
import pandas as pd

# === whitelist akronim/unit yang valid (boleh kamu tambah terus) ===
SEED = {
    # --- umum/teknis ---
    "sku","cod","oem","ori","sni","bpom","gsm",
    # power/elektronik
    "w","v","a","hz","mah","watt","volt","ampere",
    "usb","usbc","typec","hdmi","vga","wifi","bt","ble","nfc",
    "ram","rom","ssd","hdd","cpu","gpu",
    "lcd","led","oled","amoled","ips","hdr","fps","rgb","srgb","ppi","dpi","mp",
    "ip67","ip68","ipx4","ipx5","ipx6","ipx7","ipx8","pd","qc","dc","ac",
    "kb","mb","gb","tb",
    # ukuran/berat/volume
    "cm","mm","m","km","kg","g","gr","l","ml","oz","lb","lbs","psi",
    # fashion (size code)
    "xs","s","m","l","xl","xxl","xxxl","xxxs",
    # kecantikan/kesehatan/makanan
    "spf","uv","uva","uvb","ph","uht","bpa","ppm","mg","mcg","iu","kcal","cal",
    # hp/jaringan
    "5g","4g","lte","nfc","ir","nits",
    # kertas/alat sekolah
    "a3","a4","a5","b5","f4","folio","gsm"
}

RULES = [
    # huruf saja 2–5 -> harus ada di SEED (biar kata umum gak ikut)
    ("alpha_short_seeded", re.compile(r"^[a-z]{2,5}$")),

    # huruf+angka 2–8 (ip67, 1080p, 5g, 34b bra, a4, b5, 256gb, uk9)
    ("alnum_mixed", re.compile(r"^(?=.*[a-z])(?=.*\d)[a-z0-9]{2,8}$")),

    # angka + unit huruf (10cm, 15ml, 230v, 65w, 500gb)
    ("num_unit", re.compile(r"^\d{1,4}[a-z]{1,4}$")),

    # resolusi / label p (720p, 1080p, 4k -> dianggap alnum_mixed tapi ini khusus biar jelas)
    ("resolution_p", re.compile(r"^\d{3,4}p$|^[2348]k$")),

    # dimensi 2D/3D (20x30, 200x200x50)
    ("dimension", re.compile(r"^\d{1,4}x\d{1,4}(x\d{1,4})?$")),

    # ukuran fashion (override 1-huruf S/M/L) -> valid
    ("size_code", re.compile(r"^(xs|s|m|l|xl|xxl|xxxl|xxxs)$")),

    # rating proteksi air (ipx7, ipx8) -> kadang tidak di SEED semua
    ("ipx_rating", re.compile(r"^ipx[0-8]$")),
]

# (opsional) stopwords domain: kata umum e-commerce yang ingin dibuang
DOMAIN_STOP = {
    "bahan","warna","ukuran","size","anak","pria","wanita","bayi","toko",
    "alat","jam","aman","kaos","harga","wajah","berat","dada","lebar",
    "video","isi","baju","tas","paket","cocok","mudah","barang","produk"
}

def detect_candidates(df_words: pd.DataFrame, min_count: int = 20) -> pd.DataFrame:
    rows = []
    for _, row in df_words.iterrows():
        w = str(row["word"]).lower()
        c = int(row["count"])

        if c < min_count:
            continue
        if w in DOMAIN_STOP:
            continue
        # hanya token alnum (sudah cocok dengan cara kamu bikin df_top_words)
        if not re.fullmatch(r"[a-z0-9]+", w):
            continue

        matched = None
        for name, rx in RULES:
            if not rx.match(w):
                continue
            if name == "alpha_short_seeded" and w not in SEED:
                # huruf pendek wajib ada di SEED (hindari 'bahan', 'warna', dst)
                continue
            matched = name
            break

        # kalau belum match apa-apa & token 1 huruf (bukan S/M/L), skip
        if not matched:
            continue

        rows.append({"word": w, "count": c, "rule": matched})

    return (
        pd.DataFrame(rows)
        .sort_values(["count","word"], ascending=[False, True])
        .reset_index(drop=True)
    )

# pakai:
df_acronyms = detect_candidates(df_top_words_combined, min_count=20)
df_acronyms.head(40)

     word  count                rule
0      cm   1347  alpha_short_seeded
1       l    275           size_code
2       m    242           size_code
3     usb    221  alpha_short_seeded
4      kg    214  alpha_short_seeded
5      xl    205  alpha_short_seeded
6     ram    199  alpha_short_seeded
7      1x    182         alnum_mixed
8       s    176           size_code
9    bpom    149  alpha_short_seeded
10     mm    140  alpha_short_seeded
11    ssd    136  alpha_short_seeded
12    xxl    127  alpha_short_seeded
13    8gb    123         alnum_mixed
14     ml    114  alpha_short_seeded
15    led    113  alpha_short_seeded
16     i5    102         alnum_mixed
17     gb     91  alpha_short_seeded
18     mp     91  alpha_short_seeded
19  256gb     86         alnum_mixed
20   wifi     86  alpha_short_seeded
21    cpu     83  alpha_short_seeded
22     5g     82         alnum_mixed
23    cod     82  alpha_short_seeded
24   16gb     81         alnum_mixed
25  512gb     76         alnum_mixed
26    5cm     72         alnum_mixed
27     i3     72         alnum_mixed
28     i7     71         alnum_mixed
29     2x     64         alnum_mixed
30  128gb     62         alnum_mixed
31    1tb     59         alnum_mixed