In [4]:
from collections import Counter
import re
import pandas as pd

In [2]:
df = pd.read_csv('data/tokopedia_scrape_all.csv')
df.head()

,product_id,product_name,url,description,price,sold_count,rating,total_stock,category
0,2618801377,Piano Elektronik Payment Mr. D 2,https://www.tokopedia.com/miracle-piano-maestr...,pengiriman seluruh Indonesia Jakarta Merupak...,20300000,1,NaN,9,Speaker
1,1418259858,mesin cuci lg 15kg f2515stgw(GARANSI RESMI),https://www.tokopedia.com/memory-elektronik-ja...,Tanyakan ketersediaan stock terlebih dahulu\nF...,11100000,1,5.0,5,Mesin Cuci
2,12881922184,Smart TV XIAOMI L32M8-A2ID 32 A Pro series,https://www.tokopedia.com/blessingcombali/smar...,WAJIB Membaca CATATAN TOKO\nWAJIB Video Unboxi...,1729800,215,5.0,38,Monitor Tabung
3,11108003873,AQUA Elektronik AQR-D225(MDS) 1 pintu 180L,https://www.tokopedia.com/rossielektroni/aqua-...,AQUA Elektronik AQR-D225 1Door 180 L\n\nAQR-D2...,1933000,11,5.0,11,Kulkas
4,100413508806,GARANSI 1 TAHUN! BARDI ZigBee Smart Gateway,https://www.tokopedia.com/technobitzzz/garansi...,BARDI Zigbee Gateway adalah jembatan antara pe...,469000,2,NaN,398,Remote IO

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1143 entries, 0 to 1142
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   product_id    1143 non-null   int64
 1   product_name  1143 non-null   object
 2   url           1143 non-null   object
 3   description   1118 non-null   object
 4   price         1143 non-null   int64
 5   sold_count    1143 non-null   int64
 6   rating        949 non-null    float64
 7   total_stock   1143 non-null   int64
 8   category      1143 non-null   object
dtypes: float64(1), int64(4), object(4)
memory usage: 80.5+ KB

In [ ]:
# Kolom yang akan dianalisis (kecuali url)
cols_to_check = ["product_id", "product_name", "description", 
                 "price", "sold_count", "rating", "total_stock", "category"]

def get_most_common_words(series, n=10):
    text = " ".join(series.dropna().astype(str))
    words = re.findall(r'\w+', text.lower())
    return Counter(words).most_common(n)

# Loop untuk tiap kolom
for col in cols_to_check:
    print(f"\n=== Most Common Words in '{col}' ===")
    common_words = get_most_common_words(df[col], n=10)
    for word, count in common_words:
        print(f"{word}: {count}")

=== Most Common Words in 'product_id' ===
2618801377: 1
1418259858: 1
12881922184: 1
11108003873: 1
100413508806: 1
8405582218: 1
11943978673: 1
100258803007: 1
102050876661: 1
16442373020: 1

=== Most Common Words in 'product_name' ===
wanita: 201
pria: 174
dan: 147
tas: 128
1: 125
sekolah: 123
anak: 121
bayi: 115
celana: 112
paket: 100

=== Most Common Words in 'description' ===
dan: 3929
yang: 3041
untuk: 2436
dengan: 2159
di: 1606
1: 1554
cm: 1344
produk: 1331
tidak: 1163
2: 1138

=== Most Common Words in 'price' ===
99000: 7
60000: 6
120000: 6
135000: 5
44000: 5
55000: 5
95000: 5
49000: 5
115000: 5
32000: 5

=== Most Common Words in 'sold_count' ===
0: 119
1: 54
2: 22
3: 19
5: 13
11: 11
6: 11
4: 11
7: 7
18: 7

=== Most Common Words in 'rating' ===
4: 674
5: 287
0: 280
9: 246
8: 211
7: 112
6: 49
3: 24
1: 11
2: 4

=== Most Common Words in 'total_stock' ===
1: 41
2: 21
5: 18
3: 15
10: 10
9: 9
50: 8
7: 8
21: 7
8: 7

=== Most Common Words in 'category' ===
pria: 122
wanita: 116
android: 72
os: 72
celana: 60
tas: 54
bayi: 47
ransel: 45
alat: 43
kaos: 39

In [9]:
all_words = []

for col in cols_to_check:
    common_words = get_most_common_words(df[col], n=None)  # Ambil semua kata
    all_words.extend(common_words)

# Gabungkan count dari semua kolom
total_counter = Counter()
for word, count in all_words:
    total_counter[word] += count

# Ambil 30 kata paling sering muncul
top_words = total_counter.most_common(300)

# Jadikan DataFrame
df_top_words = pd.DataFrame(top_words, columns=['word', 'count'])
df_top_words

         word  count
0         dan   4077
1        yang   3051
2       untuk   2523
3      dengan   2198
4           1   1785
..        ...    ...
295      tali    114
296        ml    114
297     makan    114
298  termasuk    114
299       led    113

[300 rows x 2 columns]